<!--
<p>this is categories.</p>
-->

<section class="catalogAtt-hero">
    <div class="container">
        <!--<img class="catalogAtt-title" src="../../images/main_banner_text.png" />-->
    </div>
</section>
    
<div class="container">  
    <p>this is categories</p>
    <div>
        
        <ul  *ngIf="categories?.length > 0" >
            <li>API</li>
            <li *ngFor="let category of categories">{{category.name}}</li>
        </ul>
       
      
    </div>
    
    <nav>
        <a *ngFor="let category of categories" (click)="select(category)">{{category.name}}</a>
    </nav>
</div>

<p>Category value: {{ selectedCategory | json }}</p>


<div class="container" *ngIf="selectedCategory">
    <h1>Reactive Forms</h1>
    <ca-detail [category]="selectedCategory"></ca-detail>
</div>

